.navbar-fixed-top {
	height: 6em;
}

#nav-tolbar {
	background-color: #F57C00;
	
}

.navbar-orange {
	background-color: #F57C00;
	opacity: 1;
}

.navbar-title {
	color: #536DFE;
	font-weight: bold;
}

.navbar-custom .navbar-nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	color: #fff;
	background-color: #F57C00;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	color: #fff;
	background-color: #FF9800;
	border-color: #337ab7;
	background-color: #FF9800;
}

.dropbox-orange {
	
}

.navbar-creditos {
	color: white;
}

.navbar-creditos-black {
	color: black;
}

.dropdown-menu, dropdown-toggle {
	background-color: #FF9800;
}

body {
	background-color: #FFE0B2;
}

.text-blue {
	color: blue;
}

.text-white {
	color: white;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

a {
	color: white;
}